@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
 --cor-primaria: #008800;
 --cor-secundaria: #1c1c1c;
 --cor-terciaria: none;
}

*{
	margin: 0;
	padding: 0;
}
body {
	box-sizing: border-box;
	height: 100vh;
	background-color: var(--cor-secundaria);
	color: #008000;
	font-family: Nine by Five, sans-serif;
	 }	

.titulo-destaque{
	color: #A4BC92;
	}
h1{
    font-weight: bold;
}

.apresentacao{
	gap: 82px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5%;
}

.apresentacao__conteudo {
	width: 55%px;
	gap: 40px	;

}
.apresentacao__conteudo__titulo {
	font-size: 4.125rem;
	font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
	font-size: 1.5 rem;
	font-family:"Space Mono", sans-serif;
}

.apresentacao__links{
	display: flex;
	julistify-content: space-between;
	flex-direction: row;
	align-items: center;
	gap: 50px;
}

.apresentacao__links__links{
	display: flex;
	justify-content: center;
	gap: 16px;
	text-decoration: none;
	color: var(--cor-primaria);
	width: 50%;
	text-align: center;
	border-radius: 8px;
	font-size: 1.5rem;
	padding: 21.5px 0;
	border: 2px solid var(--cor-primaria);
	color: var(--cor-primaria);
}
.apresentacao__img{
	transform: scaleX(-1);
	width: 35%;	
}

.apresentacao__links__links:hover{
	background-color: var(--cor-primaria);
	color: var(--cor-secundaria);
}

.rodape{
	background-color: var(--cor-primaria);
	color: var(--cor-secundaria);
	padding: 24px;
	text-align: center;
	font-family: "Space Mono",sans-serif;
}

.cabecalho__menu{
	font-family:"Space Mono",sans-serif;
	text-align:left;
	gap: 30px;
}

.cabecalho__menu__links{
	color: var(--cor-primaria);
	text-decoration: none;
	padding: 10px;
	border-radius: 2px;
}

.cabecalho__menu__links:hover{
	background-color: var(--cor-primaria);
	color:var(--cor-secundaria);
}
.apresentacao__links__row{
	flex-direction: row;
}
@media (max-width:1200px){
	.cabecalho__menu{
		padding:10%;
		justify-content: center;		
	}
	.apresentacao{
		flex-direction: column-reverse;
		padding: 5%		
	}
	.apresentacao__conteudo{
		width: auto;
	}
}